* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    box-sizing: content-box;
    display: block;
    background-color: rgb(26, 130, 26);
    border: 30px solid rgb(159, 57, 23);
    border-radius: 15px;
}